body {
    color: #64ffda;
    font-family: "NTR", sans-serif;
    font-weight: bolder;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wetaherform {
    margin: 50px;
}

.cityinput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: greenyellow;
    transition: all 0.5s ease;
    border-radius: 15px;
    border: 7px double darkgreen;
    color: rgb(12, 69, 12)
}

button[type=submit]:hover {
    cursor: pointer;
    box-shadow: 1px 0px 12px 2px green;
}

button[type=submit]::after {
    background-color: rgb(0, 60, 0);
}

.card {
    background: linear-gradient(180deg, rgb(10, 163, 252), rgb(252, 190, 77));
    padding: 50px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.citydisplay, .temp {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0,0%, 0%,0.75);
    margin-bottom: 25px;
} 

.humidity {
    font-weight: bold;
    margin-bottom: 25px;
}

.description {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.wetaheremoji {
    margin: 0;
    font-size: 7.5rem;
}

.errordisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}